/*Default*/
$listing_green_dk: #232628;
$listing_green: #cc6119;
$listing_green_dark: #bb5139;

$blue-ap: #6c98e1;
$blue-ap-dk: #6c90e9;

$success: #1bc744;
$error: #e41515;

$listing_grey_dk: #5b6771;

$listing_blue_lt: #4e90cc;

$listing_blue_dk: #11323e;

$white: #fff;
$gray-dd: #dddddd;
$gray-cc: #cccccc;