.stm_inventory_with_filter-wrap {

    &.is_page_inventory {
        margin-top: 53px;
        padding-bottom: 80px;

        .col-md-9 {
            .stm-action-wrap {
                padding-top: 6px;
                padding-bottom: 28px;
                border-width: 3px;
                margin-bottom: 24px;
            }
        }
    }

    .col-md-3 {
        margin-top: 0;

        .stm-accordion-single-unit {
            margin-top: 15px;
            box-shadow: 0px 2px 27px 0px rgba(35, 36, 58, 0.13);

            &:first-child {
                margin-top: 0;
            }
        }

        .stm-filter-listing-directory-price{
            margin-top: 15px;

            .stm-accordion-content-wrapper {
                padding: 15px 25px 25px 25px;

                input[type="text"]{
                    padding: 0 10px;
                }
            }
        }

        .stm-accordion-inner {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 0 25px 25px 25px;

            .stm-option-label {
                padding: 5px 0 5px 20px;
                position: relative;

                &:before {
                    content: '\f061';
                    font-family: 'FontAwesome';
                    font-size: 10px;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }

                input {
                    display: none;
                }

                span {
                    line-height: 24px;
                    font-weight: 500;

                    .count {
                        margin-left: 5px;
                    }
                }
            }
        }
    }

    .col-md-9 {
        .stm-action-wrap {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            line-height: 18px;
            padding-bottom: 20px;
            margin-bottom: 12px;
            border-bottom: 1px solid #d8e5e6;
            margin-top: -6px;

            h2 {
                display: block;
                margin: 0;
            }

            .showing {
                font-size: 15px;
            }

            .stm-car-listing-sort-units {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0;
                margin: 0;
                border: 0;

                .stm-sort-by-options {
                    border: 1px solid #d8e5e6;
                    padding-left: 10px;
                    border-radius: 3px;

                    > span {
                        margin-top: 12px;
                        margin-right: 0;
                        color: #2c313e;
                        text-transform: none;
                        font-size: 15px;
                    }

                    .select2-container--default {
                        .select2-selection--single {
                            height: 43px;
                            opacity: 1 !important;
                            background: transparent;
                            border: 0;
                            border-radius: 3px;

                            .select2-selection__rendered {
                                line-height: 43px;
                                color: #2c313e;
                                font-weight: 700;
                                font-size: 15px !important;
                                min-width: 170px;
                                padding-left: 3px;
                            }

                            .select2-selection__arrow {
                                height: 43px;

                                b {
                                    font-size: 0;
                                    margin-top: -5px;
                                    height: 7px;

                                    &:before {
                                        content: '';
                                        display: block;
                                        width: 10px;
                                        border-top: 7px solid #7f7f7f;
                                        border-left: 6px solid transparent;
                                        border-right: 6px solid transparent;
                                    }
                                }
                            }
                        }

                        &.select2-container--open {
                            .select2-selection--single {
                                .select2-selection__arrow {
                                    b {
                                        left: -6px;
                                    }
                                }
                            }
                        }
                    }
                }

                .stm-view-by {
                    margin-left: 30px;

                    .view-type{
                        margin-left: 16px;

                        .view-grid {
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        .stm_ajax_pagination {
            margin-bottom: 25px;
        }

        .stm-inventory-load-more-btn {
            display: block;
            max-width: 200px;
            margin-bottom: 20px;
            padding: 10px 0;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    @media (max-width: 500px) {
        .col-md-9 {
            .stm-action-wrap {
                flex-direction: column;
                align-items: flex-start;

                h2 {
                    margin-bottom: 10px;
                }

                .showing {
                    margin-bottom: 10px;
                }

                .stm-car-listing-sort-units {
                    width: 100%;
                    justify-content: space-between;

                    .stm-sort-by-options {
                        margin-left: 0;
                        margin-right: auto;
                    }
                }
            }
        }
    }
}