/*Default*/
$listing_green_dk: #153e4d;
$listing_blue: #269aff;
$listing_blue_dark: #1e7bcc;

$success: #1bc744;
$error: #e41515;

$black: #000000;
$white: #fff;
$gray-dd: #dddddd;
$gray-cc: #cccccc;
$gray-77: #777777;