.wp-block-freeform.block-library-rich-text__tinymce, .block-editor {
    font-family: 'Open Sans';


    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .heading-font,
    .button, .load-more-btn, .vc_tta-panel-title, .page-numbers li > a, .page-numbers li > span,
    .vc_tta-tabs .vc_tta-tabs-container .vc_tta-tabs-list .vc_tta-tab a span,
    .stm_auto_loan_calculator input, .post-content blockquote, .contact-us-label,
    .wpb_tour_tabs_wrapper.ui-tabs ul.wpb_tabs_nav > li > a,
    .stm-shop-sidebar-area .widget.widget_product_categories > ul,
    #main .stm-shop-sidebar-area .widget .product_list_widget li .product-title,
    #main .stm-shop-sidebar-area .widget .product_list_widget li a,
    .woocommerce ul.products li.product .onsale,
    .woocommerce div.product p.price, .woocommerce div.product span.price,
    .woocommerce div.product .woocommerce-tabs ul.tabs li a,
    .woocommerce table.shop_attributes td,
    .woocommerce table.shop_table td.product-name a,
    .woocommerce-cart table.cart td.product-price,
    .woocommerce-cart table.cart td.product-subtotal,
    .header-listing .listing-menu li a {
        font-family: 'Montserrat';
        color: #232628;
    }

    .wp-block {
        max-width: 100%;
    }

    h1, .h1 {
        margin: 0;
        margin-bottom: 10px;
        line-height: 1.2;
        font-size: 50px;
        font-weight: 700;
    }

    h2, .h2 {
        margin: 0;
        margin-bottom: 14px;
        line-height: 1.2;
        font-size: 36px;
        font-weight: 700;
    }

    h3, .h3 {
        margin: 0;
        margin-bottom: 15px;
        line-height: 1.2;
        font-size: 26px;
        font-weight: 700;
    }

    h4, .h4 {
        margin: 0;
        margin-bottom: 11px;
        line-height: 1.2;
        font-size: 16px;
        font-weight: 700;
    }

    h5, .h5 {
        margin: 0;
        margin-bottom: 7px;
        line-height: 22px;
        font-size: 14px;
        font-weight: 700;
    }

    h6, .h6 {
        margin: 0;
        margin-bottom: 8px;
        line-height: 1.2;
        font-size: 12px;
        font-weight: 700;
    }

    body.stm-macintosh h1, body.stm-macintosh .h1, body.stm-macintosh h2, body.stm-macintosh .h2, body.stm-macintosh h3, body.stm-macintosh .h3, body.stm-macintosh h4, body.stm-macintosh .h4, body.stm-macintosh h5, body.stm-macintosh .h5, body.stm-macintosh h6, body.stm-macintosh .h6, body.stm-macintosh .heading-font {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    ul {
        padding-left: 20px;
    }

    ul li {
        margin-bottom: 8px;
    }

    ol {
        padding-left: 20px;
    }

    ol li {
        margin-bottom: 8px;
    }

    ul.header-menu ul {
        margin-top: 0;
    }

    ul ol, ol ol, ol ul, ul ul {
        margin-top: 8px;
    }

    blockquote {
        margin: 22px 0;
        padding: 2px 32px;
        border-left-width: 4px;
        border-left-color: #cc6119;
        font-size: 14px;
        line-height: 22px;
        color: #888888;
        font-style: italic;
    }

    blockquote {
        position: relative;
        margin-top: 10px;
        padding-left: 72px;
        padding-right: 5px;
        border-left: none;
        font-size: 16px;
        line-height: 32px;
        color: #232628;
        font-style: normal;

        &:after,
        &:before {
            position: absolute;
            content: '';
            display: block;
            top: 9px;
            left: 4px;
            font-size: 31px;
            font-family: 'stm-icon';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: #cc6119;
            content: "\e923";
        }
    }

    code {
        padding: 2px 4px;
        font-size: 90%;
        color: #c7254e;
        background-color: #f9f2f4;
        border-radius: 4px;
    }

    table {
        border: 0;
        border-spacing: 0;
        border-collapse: collapse;
        tr {
            th, td {
                border: 1px solid #d5d9e0;
                padding: 5px 10px;
                text-align: left;
            }
        }
    }
}

.post-type-page {
    .wp-block-freeform.block-library-rich-text__tinymce, .block-editor {
        blockquote {
            margin: 22px 0;
            padding: 2px 32px;
            border-left: 4px solid #cc6119;
            font-size: 14px;
            line-height: 22px;
            color: #888888;
            font-style: italic;

            &:before, &:after {
                display: none;
            }
        }
    }
}