@import '../colors';

/* =======  INFO BLOCK ANIMATE  ===========  */
.info-wrap {

    span {

        .stm_flipbox {
            .stm_flipbox__front,
            .stm_flipbox__back {

                .inner {

                    .inner-flex {

                        .ib-title {
                            color: $white;
                        }

                        .ib-desc {
                            color: $white;
                        }
                    }
                }
            }

            .stm_flipbox__front {
                border: 1px solid rgba(255, 255, 255, 0.35);
            }

            .stm_flipbox__back {
                background: rgba(34, 158, 255, 0.9);

                .inner {
                    .inner-flex {
                        .ib-title {
                            color: $white;
                        }

                        .ib-desc {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}

/* =======  INFO BLOCK ANIMATE  ===========  */

/* ======= Listing Two Search ===========*/
.stm_dynamic_listing_two_filter {
    .stm_dynamic_listing_filter_nav {

        li {
            background: $listing_blue_dk;
            border-right: 1px solid #133340;

            a {
                color: $white;
            }

            &.active {
                background-color: $listing_green_dk;
                border-right-color: $listing_green_dk;
            }
        }
    }

    .tab-content {
        background-color: $listing_green_dk;

        .tab-pane {
            .vmc-photos-list {
                ul {

                    li {
                        background: $white;
                    }
                }
            }
        }
    }
}

/* ======= Listing Two Search ===========*/

/* ======= Image Filter Body type ======= */
.stm-image-filter-wrap {
    border-top: 4px solid #153e4d;

    .stm-img-filter-container {
        .owl-controls {

            .owl-nav {

                .owl-prev, .owl-next {
                    &:hover {
                        background: $listing_green;
                    }
                }

                .owl-prev {
                    background: $gray-dd;
                }
                .owl-next {
                    background: $gray-dd;
                }
            }
        }
    }
}

/* ======= Image Filter Body type ======= */

/* ======= Popular Searches ======= */
.stm-popular-searches {

    .stm-ps-list-wrap {
        border: 2px solid #d8e5e6;

        .stm-ps-item {

            a {
                border: 1px solid $aircraft_border;
                color: $aircraft_text_light;
                background-color: $white;

                &:hover {
                    color: $white;
                    background-color: $aircraft_primary;

                    i {
                        color: $white;
                    }
                }

                i {
                    color: $aircraft_primary;
                }
            }
        }
    }
}

/* ======= Popular Searches ======= */

/* ======= Inventory With Filter =======*/
.stm_inventory_with_filter-wrap {
    .col-md-3 {
        .stm-accordion-single-unit > a.title {
            border-color: $aircraft_secondary;

            &.collapsed {
                border-color: $aircraft_primary;
            }
        }

        .stm-accordion-inner {

            .stm-option-label {
                &:before {
                    color: $aircraft_gray_filter;
                }

                &.checked {
                    &:before {
                        color: $aircraft_secondary;
                    }
                }

                span {
                    .count {
                        color: $aircraft_gray_filter;
                    }
                }
            }
        }
    }

    .col-md-9 {
        .stm-action-wrap {
            .stm-car-listing-sort-units {
                .stm-view-by {
                    .view-type {
                        i {
                            &:before {
                                color: $aircraft_secondary;
                            }
                        }

                        &.active {
                            background: $aircraft_secondary;

                            i {
                                &:before {
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
        }

        .stm-inventory-load-more-btn {
            color: #ffffff;
            background: $aircraft_secondary;
            box-shadow: 0 2px 0 $aircraft_secondary_dk;

            &:hover {
                background: $aircraft_secondary_dk;
            }
        }
    }
}

/* ======= Inventory With Filter =======*/

/* ======= Special Offers =======*/
.special-offers {
    &.style_2 {
        .price {
            background: $aircraft_secondary;

            &:before {
                background: $aircraft_secondary;
            }
        }

        .owl-dots {
            .owl-dot {
                &.active {
                    span {
                        background: $aircraft_secondary;
                    }
                }
            }
        }
    }
}

/* ======= Special Offers =======*/

/* ======= Category Info Box =======*/
.stm-cat-info-box {
    border-top: 3px solid $aircraft_primary;

    i {
        color: $aircraft_primary;
    }

}

/* ======= Category Info Box =======*/

/* ======= Data table =======*/
.stm-data-table {
    .stm-data-table-wrap {
        .data-row-wrap {
            border-bottom: 1px dashed $aircraft_border;
            color: $aircraft_bg;
        }
    }
}

/* ======= Data Table =======*/

/* ======= Listing Categories Grid Wrap =======*/
.stm-listing-cetegories-grid-wrap {
    .stm-lcg-items-wrap {
        .stm-lcg-item {
            a {
                color: $aircraft_blue_dark;
            }
        }
    }
}

/* ======= Listing Categories Grid Wrap =======*/

