.stm_cars_on_top h2 {
    margin-bottom: 34px;
}

.stm_cars_on_top .car-listing-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.stm_cars_on_top .car-listing-row .stm-directory-grid-loop {
    margin-bottom: 14px;
    margin-top: 13px;
}

.stm_cars_on_top .car-listing-row .stm-directory-grid-loop:nth-child(1) {
    margin-top: 0;
}

.stm_cars_on_top .car-listing-row .stm-directory-grid-loop:nth-child(2) {
    margin-top: 0;
}

.stm_cars_on_top .car-listing-row .stm-directory-grid-loop:nth-child(3) {
    margin-top: 0;
}

.stm_cars_on_top .car-listing-row .stm-directory-grid-loop:nth-child(4) {
    margin-top: 0;
}

.stm_cars_on_top .car-listing-row .stm-directory-grid-loop .listing-car-item-meta {
    padding-top: 15px;
}

.stm_cars_on_top .car-listing-row .stm-directory-grid-loop .listing-car-item-meta .car-meta-top {
    padding-bottom: 3px;
}

.stm_cars_on_top .car-listing-row .stm-directory-grid-loop .listing-car-item-meta .car-meta-bottom {
    padding-bottom: 22px;
}

.stm_cars_on_top .btn-wrap {
    display: block;
    width: 100%;
    text-align: center;
}

.stm_cars_on_top .btn-wrap a.button {
    display: inline-block;
}

@media (max-width: 991px) {
    .stm_cars_on_top .car-listing-row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .stm_cars_on_top .car-listing-row {
        display: block;
    }

    .stm_cars_on_top .car-listing-row .stm-directory-grid-loop:nth-child(4) {
        margin-top: 13px !important;
    }
}

@media (min-width: 600px) and (max-width: 736px) {
    .stm_cars_on_top .car-listing-row .col-md-4 {
        width: 50%;
    }

    .stm_cars_on_top .car-listing-row .col-md-4 a .image img {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .stm_cars_on_top .car-listing-row a .image img {
        width: 100%;
    }
}
