.special-offers {
    .colored-separator {
        margin-bottom: 13px;
    }

    .car-subtitle {
        color: #ffffff;
        font-size: 13px;
        font-weight: 700;
    }

    .car-title {
        font-size: 20px;
        font-weight: 700;
    }

    &.style_2 {
        .price {
            position: absolute;
            bottom: 0;
            right: 0;
        }

        .car-subtitle {
            color: #2c313e;
        }

        .car-title {
            color: #2c313e;
            margin-top: 6px;
        }

        .listing-car-item-meta {
            background: #ffffff;
            padding-bottom: 23px;

            .car-meta-top {
                padding-bottom: 19px;
                border-color: #2c313e;
            }

            .car-meta-bottom {
                ul li {
                    max-width: 32%;
                    margin-top: 19px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    margin-right: 20px;

                    &:nth-child(3n) {
                        margin-right: 0;
                    }

                    i {
                        color: #2c313e;
                    }

                    span {
                        color: #2c313e;
                    }
                }
            }
        }

        .stm-owl-prev, .stm-owl-next {
            display: none;
        }

        .owl-dots {
            .owl-dot {
                padding: 4px 10px;

                span{
                    width: 12px;
                    height: 12px;
                    background: transparent;
                    border: 2px solid #c9cbd2;
                }


                &.active {
                    span {
                        width: 12px;
                        height: 12px;
                        border: 0;
                        transform: scale(1);
                    }
                }
            }
        }
    }
}