.stm-popular-searches {
    display: block;
    position: relative;

    h3 {
        display: block;
        width: 100%;
        margin-bottom: 27px;
    }

    .stm-ps-list-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        padding: 23px;

        .stm-ps-item {
            display: block;
            width: 30%;
            margin: 7.5px 7px;

            a {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;
                border-radius: 3px;
                padding: 12px 13px 11px;
                font-size: 13px;
                transition: all .2s ease-in-out;
                text-decoration: none;

                span {
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    max-width: 90%;
                }

                i {
                    font-size: 10px;
                    transition: all .2s ease-in-out;
                }
            }
        }
    }

    @media (max-width: 850px) {
        .stm-ps-list-wrap {
            .stm-ps-item {
                margin: 7.5px 5px;
            }
        }
    }

    @media (max-width: 767px) {
        margin-top: 40px;
    }

    @media (max-width: 500px) {
        .stm-ps-list-wrap {
            .stm-ps-item {
                width: 47%;
            }
        }
    }

    @media (max-width: 375px) {
        .stm-ps-list-wrap {
            .stm-ps-item {
                width: 100%;
            }
        }
    }
}